body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .logo{
    position: absolute;
    left: 70px;
    top: 15px;
}

header{
    width: 100%;
    height: 110px;
    background-color: rgb(219, 247, 237);
}
.nav{
    position: absolute;
    top: 15px;
    right: 100px;
}
.nav ul{
    display: flex;
    float: right;
}

.nav ul li{
    list-style: none;
    padding: 10px;
}

.nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
}
.nav ul li a:hover{
    color: rgba(0, 0, 255, 0.678);
    transition: all 0.5s ease;
}

.section1{
    width: 100%;
    height: auto;
}

.main img{
    width: 100%;
    height: auto;
}
.main h1{
    position: absolute;
    top: 50%;
    left: 10%;
    width: 40%;
    font-size: 55px;
    color: #51a2a5;
    line-height: 130%;
    font-weight: bold;
}
.main p{
    position: absolute;
    top: 90%;
    width: 50%;
    left: 10%;
    font-size: 20px;
    color: #395555;
    font-weight: bold;
}

.section2{
    width: 100%;
    height: 200px;
    background-color: rgb(190, 112, 112);
}

.text h1{
   text-align: center;
   padding-top: 50px;
   margin-top: -10px;
  line-height: 0;
   
}

.logotext{
    position: absolute;
    justify-content: center;
    align-items: center;
    padding: 30px;
    left: 150px;
    padding-bottom: 30px;
    margin-top: -20px;
    width: 100%;
    
}

.section3{
    width: 100%;
    height: auto;
}

.sectext{
   text-align: center;
   width: 50%;
   height: auto;
   margin: 0 auto;
}
.sectext h1{
    font-size: 40px;
    color: rgba(0, 0, 0, 0.925);
    font-weight: bold;
}

.sectext p{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.76);
}

.coach{
    display: flex;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-left: 180px;
   justify-content: center;
   align-items: center;
}

.coach1{
    background-color: rgba(0, 0, 255, 0.658);
    height: 350px;
    width: 350px;
    margin-left:30px;
   padding: 10px 10px;
  
}
.coach1 h1{
    font-size: 40px;
    margin-top: 50px;
}
.coach2 h1{
    font-size: 40px;
    margin-top: 50px;
}

.coach3 h1{
    font-size: 40px;
    margin-top: 50px;
}
.coach1 p{
    font-size: 19px;
}
.coach2 p{
    font-size: 19px;
}
.coach3 p{
    font-size: 19px;
}

.coach input{
    padding: 15px 20px;
    font-size: 20px;
   background-color: rgba(0, 0, 255, 0.658);
    top: 30px;
    position: relative;
    color: white;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
    left: -30px;
}

.coach .coach2{
    background-color: rgba(0, 0, 255, 0.658);
    height: 350px;
    width: 350px;
    margin-left: 30px;
    padding: 10px 10px;
   
}


.coach3{
    background-color: rgba(0, 0, 255, 0.658);
    height: 350px;
    width: 350px;
    margin-left:30px;
   padding: 10px 10px;
  
}